

  

        <form id="formularioModal">
            ID<input class="form-control text-center border-danger" value="{{this.id}}" name="id" id="idProductoModal" type="text" disabled>
            NOMBRE<input class="form-control border-success" value="{{this.nombre}}" name=" nombre" id="nombreModal"
                type="text" required>
            DESCRIPCION<input class="form-control border-success" value="{{this.descripcion}}" name="descripcionModal"
                id="descripcionModal" type="text" required>
            STOCK<input class="form-control border-success" value="{{this.stock}}" name="stock" id="stockModal" type="text"
                required>
            PRECIO<input class="form-control border-success" value="{{this.precio}}" name="precio" id="precioModal"
                type="number" required>
            IMAGEN<input class="form-control border-success" value="{{this.imagen}}" id="imagenModal" name="imagenModal"
                type="text">
        </form>

   